:root
{
    --dark:#374151;
    --darker:#1F2937;
    --darkest:#111827;
    --gray:#687280;
    --light:#EEE;
    --pink:#EC4899;
    --purple:#8B5Cf6;
}

.myBtn
{
    border: none;
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background: linear-gradient(to right,var(--pink),var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

label,h1
{
    color: var(--light);
}

body{
    background-color: var(--darkest);
}

#btn1 {
    background-color: rgb(0, 255, 255);
}

#btn2 {
    background-color: rgb(255, 215, 0);
}

#btn3 {
    background-color: rgb(255, 105, 180);
}

.color-button {
    width: 20px;
    height: 20px;
    border-radius: 20%;
    border: none;
    cursor: pointer;
}

.color-button:focus {
    outline-style:solid;
    box-shadow: 0 0 0 2px #0d6efd;
}

.select-text {
    float: left;
    margin-right: 5px;
    font-weight: bold;
}

.color-select-group {
    float: left;
}
